<h1>Category: <%= category.name %></h1>
<h2>Desciption: <%= category.description %></h2>
<div>
    <h4>Items:</h4>
    <dl>
        <% if (category_items.length > 0) { %>
            <% category_items.forEach(function(item) { %>
              <dt>
                <a href="<%= item.url %>"><%= item.name %></a>
              </dt>
            <% }); %>
          <% } else { %>
            <p>There are no items in this category.</p>
          <% } %>
    </dl>
</div>

<hr>
<p><a href="<%= category.url %>/delete" class="btn btn-danger">Delete</a></p>

<p><a href="<%= category.url %>/update" class="btn btn-primary">Edit</a></p>