<h1>Category: <%= category.name %></h1>
<h2>Desciption: <%= category.description %></h2>
<div>
    <h4>Items:</h4>
    <ul class="my-flex-ul">
        <% if (category_items.length > 0) { %>
            <% category_items.forEach(function(item) { %>
              <li>
                <% if (item && item.image) { %>
                  <img class="image-item mb-3" src="/uploads/<%= item.image %>" alt="Item Image" />
                <% } %>
                <a href="<%= item.url %>"><%= item.name %></a>
                <p class="<%= item.stock == 1 ? 'bg-warning' : 'bg-success' %> text-white stock">Stock: (<%= item.stock %>)</p>
              </li>
            <% }); %>
          <% } else { %>
            <p>There are no items in this category.</p>
          <% } %>
      </ul>
</div>

<hr>
<p><a href="<%= category.url %>/delete" class="btn btn-danger">Delete</a></p>

<p><a href="<%= category.url %>/update" class="btn btn-primary">Edit</a></p>