<h1>Title: <%= item.name %></h1>

<p><strong>Category:</strong>
  <a href=<%= item.category[0].url %>> <%= item.category[0].name %></a>
</p>
<p><strong>Description:</strong> <%= item.description %></p>
<p><strong>Price:</strong> <%= item.price %> €</p>


<hr>
<p><a href="<%= item.url %>/delete">Delete</a></p>