<h1>Title: <%= item.name %></h1>

<% if (item && item.image) { %>
  <img class="image-item image-item-details mb-3" src="/uploads/<%= item.image %>" alt="Item Image" />
<% } %>

<p><strong>Category:</strong>
  <a href=<%= item.category[0].url %>> <%= item.category[0].name %></a>
</p>
<p><strong>Description:</strong> <%= item.description %></p>
<p><strong>Price:</strong> <%= item.price %> €</p>


<hr>
<p><a href="<%= item.url %>/delete" class="btn btn-danger">Delete</a></p>

<p><a href="<%= item.url %>/update" class="btn btn-primary">Edit</a></p>