<h1><%= title %></h1>

<ul class="my-flex-ul">
    <% if (item_list.length > 0) { %>
      <% item_list.forEach(function(item) { %>
        <li>
          <% if (item && item.image) { %>
            <img class="image-item mb-3" src="/uploads/<%= item.image %>" alt="Item Image" />
          <% } %>
          <a href="<%= item.url %>"><%= item.name %></a>
          <%= item.category[0].name %>
          <p><span class="<%= item.stock == 1 ? 'text-warning' : 'text-success' %>">Stock: (<%= item.stock %>)</span></p>
        </li>
      <% }); %>
    <% } else { %>
      <li>There are no items.</li>
    <% } %>
  </ul>